/* Background and fonts*/
* {
  background-color: rgb(219, 210, 199);
}
* {
  font-family: "Quicksand", serif;
  font-weight: 300;
}

/* Header */
header {
  display: flex;
  align-items: center;
}
header li {
  margin-left: 10px;
}
h3 {
  border: 2px solid black;
  display: inline;
  padding: 4px;
}
ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
}

/* Header ends */

/* Main */
/* index */
.main-img {
  width: 40%;
}

h1 {
  color: rgb(99, 27, 35);
}
/* contact */
form input {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 25px;
  padding-right: 20px;
}

form a {
  border: 2px;
}

/* projects */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

figure {
  margin-left: 0px;
}

.projects-image {
  width: 100%;
}

img {
  width: 300px;
  height: 300px;
  /* Begin help from second year NMD student Erik Sandquist */
  object-fit: contain;
  /* End help from second year NMD student Erik Sandquist */
}

/* sent email */
main p {
  border: 20px solid rgb(254, 220, 226);
}

/* Main ends */

/* Footer */
footer {
  border-top: 2px solid black;
  margin-top: 40px;
  padding-top: 15px;
}

footer p {
  margin: 5px;
}

/* Footer ends */
