/* Background and fonts*/
* {
  font-family: "Quicksand", serif;
  font-weight: 300;
  /* Start help from second year NMD student, Erik Sandquist */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* End help from second year NMD student, Erik Sandquist */
}

html {
  /* Start help from second year NMD student, Erik Sandquist */
  background-color: rgb(238, 231, 223);
  /* End help from second year NMD student, Erik Sandquist */
}

/* Header */
header {
  display: flex;
  align-items: center;
  padding: 24px 20px;
  background-image: url(../img/logo2.png);
  background-size: cover;
  background-position: 90%;
}

header li {
  margin-left: 10px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
}

/* Header ends */

/* Main */
/* index */
h1 {
  color: rgb(99, 27, 35);
  margin-left: 16px;
  margin-top: 10px;
}

.main-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  /* begin help nmd student */
  position: absolute;
  top: 0;
  left: 0;
  /* end help nmd student */
  animation-name: pictureslide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}

#pictureslide {
  width: 300px;
  height: 400px;
  /* begin help nmd student */
  position: relative; /* change referense piont for divs inside*/
  /* end help nmd student */
  margin-left: 16px;
  margin-top: 30px;
}

/* begin help nmd student */
#image1 {
  animation-delay: 0s;
}

#image2 {
  animation-delay: 6.666s;
}

#image3 {
  animation-delay: 13.333s;
}
/* end help nmd student */

/* main picture animation */
/* One picture at a time */
@keyframes pictureslide {
  0% {
    opacity: 0;
  }
  5%,
  35% {
    opacity: 1;
  }
  40%,
  100% {
    opacity: 0;
  }
}

#aboutme {
  margin-left: 16px;
  margin-top: 30px;
}

/* contact */
form input {
  margin-left: 16px;
  margin-top: 5px;
  margin-bottom: 25px;
  padding-right: 20px;
  padding: 2px 4px;
  background-color: white;
  border: 1px solid black;
}

form input:focus {
  outline: 1px solid black;
}

form label {
  margin-left: 16px;
}

/* Submit button */
form a {
  margin-left: 16px;
}

/* projects */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 10px;
}

figure {
  margin-left: 0px;
}

.projects img {
  width: 100%;
  height: auto;
  /* Begin help from second year NMD student Erik Sandquist */
  object-fit: contain;
  /* End help from second year NMD student Erik Sandquist */
}

/* Project 1 */
#project1p {
  margin-left: 16px;
  margin-top: 10px;
  display: none;
}

#project1p.visible {
  display: block;
}

#project1img {
  margin-left: 16px;
  margin-top: 10px;
  width: 50%;
  height: auto;
  object-fit: contain;
}

/* Buttons */
.button {
  display: block;
  width: fit-content;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;
  transition: all 0.3s;
  padding: 2px 4px;
  transform: scale(1);
}

.button:hover {
  color: white;
  background-color: rgb(99, 27, 35);
  transform: scale(1.1);
}

/* CSS for all buttons on all pages */
#contact {
  margin-left: 16px;
  margin-top: 16px;
}
/* For all the project 1-6 */
#backtoproject {
  margin-left: 16px;
  margin-top: 16px;
}

#information {
  margin-left: 16px;
  margin-top: 16px;
  font-size: 12pt;
}

/* sent email */
#sentemail {
  background-color: rgb(254, 220, 226);
  padding: 20px;
  margin-top: 20px;
}

/* back home button */
#backhome {
  margin-left: 16px;
  margin-top: 16px;
}

/* Ens CSS for buttons */

/* Main ends */

/* Footer */
footer {
  border-top: 2px solid black;
  margin-top: 40px;
  padding-top: 15px;
}

footer p {
  margin-left: 10px;
  margin-bottom: 5px;
}

/* Footer ends */

/* @Media begins */

/* Links, home and projects */
@media screen and (max-width: 480px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  header li {
    margin-left: 0px;
    margin-top: 5px;
  }
}

/* projects pictures */
@media screen and (max-width: 800px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @Media ends */
